set @@sql_log_bin=0;

alter user root@'localhost' identified by '{{initpwd}}';
create user root@'127.0.0.1' identified by '{{initpwd}}';
grant all on *.* to root@'127.0.0.1' with grant option;

create user dbma@'127.0.0.1' identified by '{{initpwd}}';
grant all on *.* to dbma@'127.0.0.1' with grant option;

-- clone
create user 'cloneuser'@'127.0.0.1' identified by '{{initpwd}}';
grant clone_admin,system_variables_admin,backup_admin on *.* to 'cloneuser'@'127.0.0.1';
create user 'cloneuser'@'localhost' identified by '{{initpwd}}';
grant clone_admin,system_variables_admin,backup_admin on *.* to 'cloneuser'@'localhost';
create user 'cloneuser'@'%' identified by '{{initpwd}}';
grant backup_admin on *.* to 'cloneuser'@'%';

-- replication
create user 'repluser'@'%' identified by '{{initpwd}}';
grant replication slave,replication client,backup_admin,replication_slave_admin,group_replication_admin on *.* to 'repluser'@'%';

-- monitor
create user monitor@'127.0.0.1' identified by '{{initpwd}}';
grant replication client,process on *.* to monitor@'127.0.0.1';
grant select on performance_schema.* to monitor@'127.0.0.1';

-- innodb cluster admin user
create user innodbclusteradmin@'%' identified by '{{initpwd}}';
grant reload, shutdown, process, file, select, super, replication slave, replication client, create user on *.* to innodbclusteradmin@'%' with grant option;
grant all on mysql_innodb_cluster_metadata.* to innodbclusteradmin@'%' with grant option;
grant insert, update, delete on mysql.* to innodbclusteradmin@'%' with grant option;
grant select on performance_schema.global_status to innodbclusteradmin@'%' with grant option;
grant select on performance_schema.replication_applier_configuration to innodbclusteradmin@'%' with grant option;
grant select on performance_schema.replication_applier_status to innodbclusteradmin@'%' with grant option;
grant select on performance_schema.replication_applier_status_by_coordinator to innodbclusteradmin@'%' with grant option;
grant select on performance_schema.replication_applier_status_by_worker to innodbclusteradmin@'%' with grant option;
grant select on performance_schema.replication_connection_configuration to innodbclusteradmin@'%' with grant option;
grant select on performance_schema.replication_connection_status to innodbclusteradmin@'%' with grant option;
grant select on performance_schema.replication_group_member_stats to innodbclusteradmin@'%' with grant option;
grant select on performance_schema.replication_group_members to innodbclusteradmin@'%' with grant option;
grant select on performance_schema.threads to innodbclusteradmin@'%' with grant option;


set @@sql_log_bin=1;


