[mysqld]
# basic
user                                     = {{user}}
basedir                                  = {{basedir}}
datadir                                  = {{datadir}}
server_id                                = {{server_id}}
port                                     = {{port}}
log_error                                = {{log_error}}
socket                                   = {{socket}}
mysqlx_socket                            = {{mysqlx_socket}}
pid_file                                 = {{pid_file}}  
open_files_limit                         = {{open_files_limit}}
max_prepared_stmt_count                  = {{max_prepared_stmt_count}}  
skip_name_resolve                        = {{skip_name_resolve}}     
super_read_only                          = {{super_read_only}}
sql_require_primary_key                  = {{sql_require_primary_key}}
log_timestamps                           = {{log_timestamps}}
lower_case_table_names                   = {{lower_case_table_names}}
auto_increment_increment                 = {{auto_increment_increment}}
auto_increment_offset                    = {{auto_increment_offset}}
event_scheduler                          = {{event_scheduler}}
auto_generate_certs                      = {{auto_generate_certs}}
big_tables                               = {{big_tables}}
join_buffer_size                         = {{join_buffer_size}}
activate_all_roles_on_login              = {{activate_all_roles_on_login}}
end_markers_in_json                      = {{end_markers_in_json}}
tmpdir                                   = {{tmpdir}}
max_connections                          = {{max_connections}}
autocommit                               = {{autocommit}}
sort_buffer_size                         = {{sort_buffer_size}}





# -- ~ _ ~    ~ _ ~     ~ _ ~ -- 
# base on mysql-8.0.17 
# generated by https://www.sqlpy.com 2019年09月12日 10:29
# wechat: jianglegege
# email: 1721900707@qq.com
# -- ~ _ ~ --

