# Redis configuration file
# ./redis-server /path/to/redis.conf

port        {{port}}
daemonize   {{daemonize}}
bind        {{bind}}
dir         {{dir}}


unixsocket  {{dir}}/redis.sock
pidfile     {{dir}}/redis.pid
logfile     {{dir}}/redis.log
dbfilename  {{dbfilename}}
loglevel    {{loglevel}}

protected-mode  {{protected_mode}}
tcp-backlog     {{tcp_backlog}}
unixsocketperm  700
tcp-keepalive   300
